header {
    background-color:#238eac;
    color: #ffffff;
    font-family: 'Mochiy Pop P One', sans-serif;
}
header .login-info {
    padding-right: 4%;
}
header .login-info .l{
    padding-right:13px;
    color: #ffffff;
}
header .head {
    color: #ffffff;
}
body{
    background-color: #ffffff;
    font-family: 'Roboto Serif', sans-serif;
    color: #303030;
}
main {
    background-color: rgb(255, 255, 255);
    padding: 16px;
}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    height:60px;
    width:60px;
    border-radius: 100%;
}
a.photo {
    transition: padding 0.5s;
}
a.photo:hover {
    padding:10px;
}
.user-info {
    align-items: center;
}
article {
    border: solid #303030 3px;
    padding:10px;
}
header img {
    height: 50px;
    width: 50px;
    border-radius: 20%;
    margin-left: 20px;

}
