<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="/stylesheets/lib.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

    <title>Finstagram</title>
  </head>
  <body>
    <header>
    <h1>
    <a class='head' href="/">Finstagram</a>
    </h1>
    <img class='logo' src='https://us.123rf.com/450wm/archivector/archivector2103/archivector210300025/166173148-whale-in-sea-wave-graphic-icon-tail-whale-sign-isolated-on-white-background-sea-life-symbol-logo-vec.jpg?ver=6' alt='fin'>
      <div class="login-info">
        <% if current_user %>
          Welcome back, <%= current_user.username %>!
          <a class='head'href="/logout">| Logout</a>
        <% else %>
          <a class='l' href="/login">Login</a>
          <a class='head'href="/signup">| Signup</a>
        <% end %>
      </div>
    </header>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>